$buttonbackgroundcolor:rgb(14, 87, 14);

.navbar {
    background-image: url("./picture/world.png");
    background-size: contain;
    color: aliceblue;
    height: 95vh;
    font-size: 40px;
    // width: 100vw;




    &__home {


        display: flex;
        justify-content: space-between;
        background-color: black;
        height: auto;
        width: 100%;

    }

    &__navmenu {
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        font-size: 25px;
        align-items: center;
        font-family: "Kanit", sans-serif;



    }

    &__item {
        text-decoration: none;
        padding: 5px;
    }

    &__h1 {
        font-size: 50px;
        margin-bottom: 30px;
    }

    &__h3 {
        margin-bottom: 30px;
        margin-top: 60px;
        font-size: 30px;
    }

    &__hello {
        margin-left: 50px;
        margin-bottom: 200px;
    }

    &__initials {
        margin-left: 5px;
    }

    &__button {
        width: 200px;
        height: 60px;
        background-color: $buttonbackgroundcolor;
        color: white;
        border-radius: 40px;
        text-align: center;
        align-items: center;
        font-size: 30px;
        margin-top: 20px;
    }

    &__hello-area {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }

    &__button:hover {
        background-color: brown;
    }

    &__button:active {
        background-color: darkred;
        color: burlywood;
    }
}

#contact-me {
    background-color: $buttonbackgroundcolor;
    color: white;
    border-radius: 5px;
    height: auto;


}

#contact-me:hover {
    background-color: brown;
}