.navbar {
  background-image: url("./picture/world.png");
  background-size: contain;
  color: aliceblue;
  height: 95vh;
  font-size: 40px;
}
.navbar__home {
  display: flex;
  justify-content: space-between;
  background-color: black;
  height: auto;
  width: 100%;
}
.navbar__navmenu {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  font-size: 25px;
  align-items: center;
  font-family: "Kanit", sans-serif;
}
.navbar__item {
  text-decoration: none;
  padding: 5px;
}
.navbar__h1 {
  font-size: 50px;
  margin-bottom: 30px;
}
.navbar__h3 {
  margin-bottom: 30px;
  margin-top: 60px;
  font-size: 30px;
}
.navbar__hello {
  margin-left: 50px;
  margin-bottom: 200px;
}
.navbar__initials {
  margin-left: 5px;
}
.navbar__button {
  width: 200px;
  height: 60px;
  background-color: #0e570e;
  color: white;
  border-radius: 40px;
  text-align: center;
  align-items: center;
  font-size: 30px;
  margin-top: 20px;
}
.navbar__hello-area {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.navbar__button:hover {
  background-color: brown;
}
.navbar__button:active {
  background-color: darkred;
  color: burlywood;
}

#contact-me {
  background-color: #0e570e;
  color: white;
  border-radius: 5px;
  height: auto;
}

#contact-me:hover {
  background-color: brown;
}