.middle {
  display: flex;
  justify-content: space-around;
  padding: 80px;
}
.middle__title {
  font-size: 50px;
  margin-bottom: 20px;
}
.middle_picture {
  display: flex;
  align-items: center;
}

.middle__des {
  width: 800px;
  line-height: 200%;
}

#middle__mypicture {
  width: 300px;
  border-radius: 130px;
}