.middle {
    display: flex;
    justify-content: space-around;
    padding: 80px;


    &__title {
        font-size: 50px;
        margin-bottom: 20px;
    }



    &_picture {
        display: flex;
        align-items: center;
    }
}

.middle__des {

    width: 800px;
    line-height: 200%;
}

#middle__mypicture {
    width: 300px;
    border-radius: 130px;
}