@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Mochiy+Pop+One&family=Mouse+Memoirs&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
}

body {
  font-family: "Mochiy Pop One", sans-serif;
}

section {
  background-color: whitesmoke;
}

a {
  text-decoration: none;
  color: aliceblue;
}

@media only screen and (max-width: 800px) {
  .project-section__projects-cards {
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 600px) {
  .project-section__tech {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  }

  .navbar__navmenu {
    display: flex;
    flex-wrap: wrap;
  }

  .middle {
    display: flex;
    flex-wrap: wrap;
  }

  #middle__mypicture {
    margin: 10px;
  }

  .navbar__hello-area {
    margin-top: 60px;
  }

  .navbar__h1 {
    margin-top: 50px;
  }
}