@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Mouse+Memoirs&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fafafa;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

#logo {
  width: 30%;
  height: auto;
  font-family: "Mouse Memoris", sans-serif;
  text-decoration: none;
  font-size: 40px;
  color: #28527a;
  font-weight: bold;
}

#button-log-in {
  width: 100px;
  border: 1px solid #3b4260;
  padding: 10px;
  text-decoration: none;
  height: auto;
  border-radius: 10%;
  justify-content: flex-end;
  text-align: center;
  font-weight: bold;
  color: #28527a;
}

h1 {
  font-family: "Mochiy Pop One", cursive;
  font-weight: lighter;
  margin: 50px;
  color: #28527a;
  font-size: 35px;
  text-align: center;
}

#landing-mobile {
  margin: 20px;
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin: 40px;
  color: #28527a;
  font-weight: bold;
}

h3 {
  font-size: 25px;
  text-align: center;
  margin: 30px;
  color: #28527a;
}

h4 {
  font-size: 18px;
  text-align: center;
  margin: 30px;
  color: #28527a;
}

h5 {
  font-size: 25px;
  text-align: center;
  margin: 30px;
  color: #28527a;
}

h6 {
  font-size: 15px;
  text-align: center;
  margin: 30px;
  color: #28527a;
  font-weight: lighter;
}

.button {
  font-family: "Mouse Memoris", sans-serif;
  font-weight: bold;
  display: block;
  width: 180px;
  background-color: #3b4260;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fafafa;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}

main div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

footer {
  width: auto;
  margin-top: 50px;
  display: flex;
  height: auto;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  background-color: wheat;
}

footer a {
  text-decoration: none;
  padding: 10px;
  justify-content: space-around;
  font-size: 15px;
  color: #3b4260;
  background-color: wheat;
  font-family: "Mouse Memoris", sans-serif;
  font-weight: bold;
}